/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */
.color-1 {
    background: black;
}

.color-2 {
    background: #D4AF37;
}

.color-3 {
    background: #ffef99;
}

.color-4 {
    background: #7f0000;
}

.color-5 {
    background: #660000;
}

/* Textures or Patterns*/
.pattern-1 {
     background: url("http://www.uncalke.com/i/dark-pattern-wallpaper-for-android.jpg")25% 25%  no-repeat;
    background-size: cover;
}

.pattern-2 {
    background: url("https://www.hdwallpapers.net/images/louis-vuitton-pattern-wallpaper-for-2880x1800-60-619.jpg");
    background-size: cover;
}

.pattern-3 {
    background: url("https://s-media-cache-ak0.pinimg.com/736x/d1/9d/43/d19d43c9dbeae4f58e4b49587dba62a2.jpg");
    background-size: cover;
}

.pattern-4 {
    background: url("http://randomwallpapers.net/opera-black-pattern-honeycomb-patterns-1920x1200-wallpaper91515.jpg");
    background-size: cover;
}

.pattern-5 {
    background: url("http://images.kaneva.com/filestore7/4232711/5146587/PatternUUURedURose.jpg");
    background-size: cover;
}

/* Imagery */




/* Icons */
.icon-1 {
    border: none;
}

/* Navigation */
nav li {
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav a: link {
    
}

nav a: hover{
    
}

button {

}

/* Typography */

h1, h2 {
    color: grey;
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}